@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');
@import "tailwindcss";


:root {
  --font-body: 'Work Sans', 'Helvetica', 'sans-serif';
  --font-headers: 'Nunito', 'Helvetica', 'sans-serif';
  /* COLORS */
  --color--green:#008285;
  --color-lightGreen: #F5FAF7;
  --color-softGreen: #F4FAF6;
  --color-black: #333333;
}

@layer utilities {
  .bg-lightGreen {
    background-color: var(--color-lightGreen);
  }
  .bg-softGreen {
    background-color: var(--color-softGreen);
  }
  .bg-black{
    background-color: var(--color-black);
  }
  .bg-green{
    background-color: var(--color--green);
  }
}

body{
  font-family: var(--font-body);
}

body section div {
  padding:0px 3rem 0px 3rem
}

a{
  color: var(--color--green);
  text-decoration: underline;
  font-size: 14px;
}

p {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 1rem;
  text-align: justify;
}


h2{
  font-size: 2.5rem!important;
}

h3{font-size: 2rem;}

h4{
  font-size: 1.5rem;
}


section{
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.featureSection{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
  width: 20%;
}

.featureSection h4{
  margin-top: 0.75rem;
}
.featureSection p{
  text-align: center;
  font-size: 15px;;
}


.footerIcons{
  display: flex;
  margin: 1rem 0 1rem 0;
  gap:0.5rem
}

.footerIcons div{
  display: flex;          /* Center the icon */
  align-items: center;
  justify-content: center;
  padding: 1rem;          /* Controls the size of the circle */
  border-radius: 100%;  /* Makes it perfectly round */
  background-color: var(--color-softGreen); /* Circle color */
  cursor: pointer;        /* Optional: makes it feel clickable */
}

.footerIcons a{
  color:var(--color-black)
}